<%- include('partials/_header') %>

<!DOCTYPE html>
<html lang="en">
<head style = "text-align: center">
  <title>TinyApp</title>
</head>
<body style = "text-align: center">


   <%  for (let shortURL in urls){  %>
    <div style="margin:10px;"><%= shortURL %></div>
    <div><%=urls[shortURL].longURL%></div>
    <form method="POST" action="/urls/<%= shortURL %>?_method=DELETE"">
      <button>Delete</button>
      <a href='/urls/<%=shortURL%>'>Edit</a>
    </form>
    <%  } %>

  <a href = "/urls" style="margin:10px;">Home</a>
  <a href = "/urls/new">Add New URL</a>




</body>
</html>