<%- include('partials/_header') %>

<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <ul>

   <%  for (let shortURL in urls){  %>
    <li><%= shortURL %></li>
    <li><%=urls[shortURL]%></li>
    <form method="POST" action="/urls/<%= shortURL %>/delete">
      <button>Delete</button>
      <a href='/urls/<%=shortURL%>'>Edit</a>
    </form>
    <%  } %>
  </ul>
  <a href = "/urls">Home</a>
  <a href = "/urls/new">Add New URL</a>




</body>
</html>